.header {
    background: url(../../Assets/header_photo.jpg) no-repeat;
    background-position-x: 50%;
    background-size: cover;
    min-width: 100%;
}

.spacer {
    height: 1100px;
    width: 100%;
}

@media (min-width: 280px) and (max-width: 576px) {
    .header {
        max-height: 450px;
        background-position-x: 80%;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .header {
        max-height: 600px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        max-height: 900px;
    }
}

@media (min-width: 1200px) {
    .header {
        max-height: 1100px;
    }
}

