.project_card {
    height: 100%;
    min-height: 220px;
    color: white;
    border-radius: 0;
    border: none;
    opacity: .85;
}

.card-body {
    padding: 10px;
}

.card_body {
    height: 100%;
}

.card-title {
    font-size: 1.7rem;
}

.project_card:hover {
    transform: scale(1.05);
    opacity: 1.00;
    transition: 400ms;
}

.project_title {
    margin-bottom: 20px;
}

.piano {
    background: url(../../../Assets/pianokeys.jpg) center center no-repeat;
}

.meal {
    background: url(../../../Assets/MP_Thumb.jpg) center center no-repeat;
}

.trip {
    background: url(../../../Assets/trip.jpg) center center no-repeat;
}

.weather {
    background: url(../../../Assets/weather.jpg) center center no-repeat;
}

.burger {
    background: url(../../../Assets/burger.jpg) center center no-repeat;
}

.card_link {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid white;
    color: white;
    margin: 10px;
    width: auto;
}

.card_link::after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background: white;
    transition: 400ms;
}

.card_link:hover::after {
    width: 100%;
}

.card_link:hover {
    color: white;
}

.project_col {
    margin-bottom: 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .project_col {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .project_col {
        margin-bottom: 30px;
    }
}
