.toolbar {
    font-size: 1.8rem;
    padding: 40px 70px;
    height: 90px !important;
}

.toolbar button {
    background-color: gray;
}

#brand_text {
    color: black;
    font-weight: bold;
    font-size: 3.0rem;
}

#contact {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    margin: 0 5px 0 5px;
    padding-top: 8px !important;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    background-color: rgba(0, 0, 0, 1) !important;
}

.show .link, .collapsing .link {
    margin: 10px;
    color: white !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

.show .link {
    max-width: 115px;
    align-self: center;
}

.show .link:hover {
    /*border: none;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    font-weight: bold; */
}

.link {
    display: inline-block;
}

.link::after {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background: white;
    transition: 400ms;
}

.link:hover::after {
    width: 100%;
}

a:hover {
    text-decoration: none !important;
}

.link {
    margin: 0 10px;
    padding-top: 10px !important;
}

@media (min-width: 280px) and (max-width: 576px) {
    #brand_text {
        font-size: 1.5rem;
    }

    .toolbar {
        padding: 10px 30px;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .toolbar {
        font-size: 1.5rem;
        padding: 10px 30px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {  }

