.toolbar {
    font-size: 1.4rem;
    padding: 0 20px;
    height: 50px;
}

.toolbar button {
    background-color: gray;
}

#brand_text {
    color: black;
    font-weight: bold;
    font-size: 2.0rem;
    padding-bottom: 10px;
}

#contact {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    margin: 0 15px 0 5px;
    padding-top: 8px !important;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    background-color: rgba(204, 209, 217, .9) !important;
}

.show .link, .collapsing .link {
    padding-bottom: 3px !important;
}

.show .link {
    max-width: 115px;
    align-self: center;
}

.link {
    display: inline-block;
    color: black;
    margin: 0 10px 10px 10px;
    padding-top: 10px !important;
}

.link::after {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background: white;
    transition: 400ms;
}

.link:hover::after {
    width: 100%;
}

a:hover {
    text-decoration: none !important;
    color: black;
}

@media (min-width: 280px) and (max-width: 576px) {
    #brand_text {
        font-size: 1.5rem;
    }

    .toolbar {
        padding: 10px 30px;
        opacity: 100% !important;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
   #brand_text {
       font-size: 35px;
   }

}

