.App {
    text-align: center;
}

.hr {
    margin: 50px;
}

h2 {
    font-size: 3.5rem;
}

h1, h2, h3, h4 {
    font-family: 'ABeeZee', sans-serif;
}

@media (max-width: 769px) {
    .hr {
        margin: 0;
    }
}


